.page {
    background-color: white;
    height: 100%;
    width: 100%;
}

.img {
    display: flex;
    margin: 0 auto;
    border-radius: 10rem;
}

.imgContainer {
    display: flex;
    flex-direction: column-reverse;
}

.title {
    text-align: center;
    margin-top: 2rem;
}

.logoContainer {
    display: flex;
    justify-content: center;
}

.body {
    text-align: center;
}

.socialIcon {
    margin: 0.5rem;
}

.col {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}